---
layout: archive
permalink: /competitions-archive/
title: "Competitions"
author_profile: true
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for competition in site.competitions %}
  {% capture year %}{{ competition.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
